@media (min-width: 320px ) and (max-width: 768px)  {

footer {
    height:200px;
    background: #333333;
    bottom:0;
    width:100%;
}

footer img {
    filter: invert(1);
    width:100px;
    padding:25px; 
}

footer p {
    padding: 0 0 0 25px;
    line-height: 23px;
    color:#fff;
    font-size:0.9em ;
    margin:0;
}

footer p .fas {
    margin-right:10px;
}

footer a {
    text-decoration: none;
    color:#fff;
}

footer a:hover {
    color:#acacac;
}

}